tower {
  enabled = true
    accessToken = 'eyJ0aWQiOiAxMDgwNH0uMTY0MjBhNGIzNWRlYzMwMTIxYTMzZGI2NzlkNzk4NmJiNjVkMmQxZA=='
}

singularity.enabled = true

process {
    executor = 'slurm'
    queue = 'standard'
    errorStrategy = 'retry'
    maxRetries = 3
}

executor {
    name = 'slurm'
    queueSize = 20
}

// Common environment settings
env {
    LC_ALL = "en_US.UTF-8"
    LANG = "en_US.UTF-8"
}


//set profiles for different types of runs
profiles {
    fastp {
        executor {
            name = 'slurm'
            queueSize = 40
        }
        process {
            withName: fastp {
                cpus = 4
                memory = { 2.GB * task.attempt }
                time = { 30.min * task.attempt }
            }
        }
    }
    trimmomatic {
        executor {
            name = 'slurm'
            queueSize = 12
        }
        process {
            withName: trimmomatic {
                cpus = 8
                memory = { 6.GB * task.attempt }
                time = { 12.h * task.attempt }
            }
        }
    }
}
